<!DOCTYPE html>
<html>
    <header>
        <title>Liste de nos fleurs</title>
        <meta name="description" content="Liste des fleurs du magasin fleurDelivery de Paris." />

        <link rel="stylesheet" href="../css/myStyle.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </header>
    <body>
        <nav>
           <a href="../index.html">Accueil</a><br>
            <a href="fleur.html">Fleurs</a><br>
            <a href="bouquet.html">Bouquet</a><br>
            <a href="livraison.html">Livraison</a><br> 
        </nav>
        <div class="container">
            <h1>Nos fleurs</h1>
            <div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 panelFlower">
                        <div class="thumbnail">
                        <img src="../img/bach.jpg" alt="fleur de bach" title="bach" class="imgFlower">
                        <div class="caption">
                            <h3>Bach</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Ajouter au panier</a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 panelFlower">
                        <div class="thumbnail">
                        <img src="../img/dahlia.jpg" alt="fleur de dahlia" title="dahlia" class="imgFlower">
                        <div class="caption">
                            <h3>Dahlia</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Ajouter au panier</a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 panelFlower">
                        <div class="thumbnail">
                        <img src="../img/hibiscus.jpg" alt="fleur d'hibiscus" title="hibiscus" class="imgFlower">
                        <div class="caption">
                            <h3>Hibiscus</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Ajouter au panier</a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 panelFlower">
                        <div class="thumbnail">
                        <img src="../img/pivoine.jpg" alt="fleur de pivoine" title="pivoine" class="imgFlower">
                        <div class="caption">
                            <h3>Pivoine</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Ajouter au panier</a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 panelFlower">
                        <div class="thumbnail">
                        <img src="../img/rose.jpg" alt="fleur de rose" title="rose" class="imgFlower">
                        <div class="caption">
                            <h3>Rose</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Ajouter au panier</a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 panelFlower">
                        <div class="thumbnail">
                        <img src="../img/tulipe.jpg" alt="fleur de tulipe" title="tulipe" class="imgFlower">
                        <div class="caption">
                            <h3>Tulipe</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Ajouter au panier</a></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>